@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

.maintemplate {
  background-color: #f4f5f7;
  height: 370rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.top-naviagation {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 4rem;
  left: 14.3rem;
  overflow: hidden;
  padding-left: 1.2rem;
  position: absolute;
  top: 1.6rem;
  width: 115.5rem;
}

.navlogo {
  align-items: center;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  height: calc(100% - 2rem);
  justify-content: center;
  line-height: 1.1111111111;
  margin: 1rem 80.8rem 1rem 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 7.6rem;
}

.item-navigation {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  padding: 1rem 1.2rem 1rem 1.25rem;
  position: relative;
}

.navFrame {
  align-items: center;
  color: #344563;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  line-height: 1.3333333333;
  margin-right: 3.25rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 6 rem;
}

.firstpage {
  background-image: url('images/backgroundImages/header background shape-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 91.6rem;
  left: 0;
  position: absolute;
  top: 0.1rem;
  width: 144rem;
}

.header {
  box-sizing: border-box;
  height: 26.8rem;
  left: 26rem;
  overflow: hidden;
  padding-top: 0.1rem;
  position: absolute;
  top: 35.9rem;
  width: 92rem;
}

.alexandra {
  color: #091e42;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.037rem;
  line-height: 1.25;
  margin-bottom: 1.3rem;
  max-width: 40.1rem;
}

.softwaredeveloper {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 2.6rem;
  max-width: 88.7rem;
}

.social-media {
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  width: 11.7rem;
}

.supporting-text {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.headerpage {
  height: 72.146rem;
  left: 3.4602rem;
  object-fit: contain;
  position: absolute;
  top: 11.8rem;
  vertical-align: top;
  width: 139.7398rem;
  border-bottom-left-radius: 80px;
}

.social-media-icons {
  align-items: center;
  display: flex;
  height: 2rem;
  left: 26rem;
  position: absolute;
  top: 64.1rem;
  width: 17.0167rem;
}

.twitter {
  flex-shrink: 0;
  height: 1.9963rem;
  margin: 0 1.901rem 0.004rem 0;
  object-fit: contain;
  vertical-align: top;
  width: 1.9986rem;
}

.linkedin-icon {
  flex-shrink: 0;
  height: 2rem;
  margin-right: 2rem;
  object-fit: contain;
  position: relative;
  vertical-align: top;
  width: 2rem;
}

.medium {
  flex-shrink: 0;
  height: 1.6rem;
  margin: 0 2rem 0 0;
  object-fit: contain;
  vertical-align: top;
  width: 2rem;
}

.github {
  flex-shrink: 0;
  height: 2rem;
  margin: 0 1.901rem 0 0;
  object-fit: contain;
  vertical-align: top;
  width: 1.7985rem;
}

.angellist {
  flex-shrink: 0;
  height: 2rem;
  margin-bottom: 0;
  object-fit: contain;
  vertical-align: top;
  width: 1.4167rem;
}

.auto-group {
  height: 151.4rem;
  left: 0;
  position: absolute;
  top: 361.1rem;
  width: 144rem;
}

.about-myself-background-shape-desktop-UR7 {
  height: 92.4rem;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: -5%;
  vertical-align: top;
  width: 144rem;
}

.contact-form-background-shape-desktop-QZf {
  height: 84.6rem;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 66.8rem;
  vertical-align: top;
  width: 144rem;
}

.left-block-hYm {
  box-sizing: border-box;
  height: 57.7rem;
  left: 32rem;
  overflow: hidden;
  padding: 0.2rem 13.7rem 0 13.7rem;
  position: absolute;
  top: 81rem;
  width: 80.1rem;
}

.text-1ZT {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.primary-text-m2q {
  align-items: center;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.3;
  margin-bottom: 1.4rem;
  white-space: nowrap;
}

.primary-text-srZ {
  color: #ebebff;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 3rem;
  max-width: 52.7rem;
  text-align: center;
}

.form-ZUV {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 4rem;
  overflow: hidden;
  position: relative;
  row-gap: 2.7rem;
  width: calc(100% - 8rem);
}

.text-field-activated-VN9 {
  flex-shrink: 0;
  height: 4.8rem;
  position: relative;
  width: 100%;
}

.container-basic-RFo {
  background-color: #fff;
  border: solid 0.1rem #cfd8dc;
  border-radius: 0.2rem;
  box-sizing: border-box;
  height: 4.8rem;
  left: 0;
  padding: 1.2rem 1.2rem 1.2rem 41.1rem;
  position: absolute;
  top: 0;
  width: 44.7rem;
}

.icons-icon-chevron-down-larger-Xpd {
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.4rem;
}

.input-text-ziD {
  color: #172b4d;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  height: 2rem;
  left: 1.6rem;
  line-height: 1.1764705882;
  position: absolute;
  top: 1.4rem;
  white-space: nowrap;
  width: 19.7rem;
}

.text-field-activated-sGD {
  flex-shrink: 0;
  height: 4.8rem;
  position: relative;
  width: 100%;
}

.container-basic-Day {
  background-color: #fff;
  border: solid 0.1rem #cfd8dc;
  border-radius: 0.2rem;
  box-sizing: border-box;
  height: 4.8rem;
  left: 0;
  padding: 1.2rem 1.2rem 1.2rem 41.1rem;
  position: absolute;
  top: 0;
  width: 44.7rem;
}

.icons-icon-chevron-down-larger-XrZ {
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.4rem;
}

.input-text-pKs {
  color: #172b4d;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  height: 2rem;
  left: 1.6rem;
  line-height: 1.1764705882;
  position: absolute;
  top: 1.4rem;
  white-space: nowrap;
  width: 19.5rem;
}

.container-basic-8LZ {
  background-color: #fff;
  border: solid 0.1rem #cfd8dc;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: #b3bac5;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  height: 17rem;
  line-height: 1.6;
  padding: 1.5rem 1.6rem;
  white-space: nowrap;
  width: 100%;
}

.normal-button-primary-enabled-bE9 {
  align-items: center;
  background-color: #fff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  height: 4.8rem;
  justify-content: center;
  letter-spacing: 0.051rem;
  line-height: 1.4117647059;
  margin: 0 15.25rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: calc(100% - 30.5rem);
}

.aboutmyself-left-block {
  box-sizing: border-box;
  height: 45.2rem;
  left: 14.2rem;
  overflow: hidden;
  padding-top: 0.5rem;
  position: absolute;
  top: 14.2rem;
  width: 44.7rem;
}

.abouttext {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  overflow: hidden;
  position: relative;
}

.primary-text-Deq {
  color: #091e42;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1.7rem;
  max-width: 13.6rem;
}

.primary-text {
  color: #344563;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.8rem;
  max-width: 44.5rem;
}

.aboutsocial-media {
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  width: 20rem;
}

.frame-1 {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: static;
  width: 100%;
}

.social-media-image {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  padding: 8px;
}

.skill-list-rWm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 36rem;
  left: 61.4rem;
  overflow: hidden;
  position: absolute;
  row-gap: 1.6rem;
  top: 14.2rem;
  width: 68.4rem;
}

.frame-12-xJu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  padding: 1.6rem 0 1.2rem 0;
  position: relative;
  width: 100%;
}

.frame-7-tTT {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 1.2rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.auto-group-bdym-qdb {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 0 2.6rem 1.5rem 2.4rem;
  width: calc(100% - 5rem);
}

/* .languages {
  color: #344563;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 48.1rem;
  white-space: nowrap;
} */

.normal-button-tertiary-disabled-fcd {
  border-radius: 0.8rem;
  flex-shrink: 0;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  width: 4rem;
}

.separator-bottom-B5B {
  background-color: #dfe1e6;
  flex-shrink: 0;
  height: 0.1rem;
  width: 100%;
}

.langguage-list-vHf {
  align-items: center;
  column-gap: 1.2rem;
  display: flex;
  flex-shrink: 0;
  height: 12rem;
  margin-left: 1.2rem;
  overflow: hidden;
  position: relative;
}

.frame-9-3t5 {
  background-color: #f6f7f8;
  border-radius: 0.8rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  padding: 1.2rem 1.2rem 2.2rem 1.2rem;
  position: relative;
  width: 12.2rem;
}

.ellipse-1-ad7 {
  background-image: url('/api/try-prod-us-east-2-first-cluster/projects/YZzNMK6zCgEcfunraJN3TX/files/image/cccc4e7663dfea81ee90b9bbea50f8710b76f068');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: solid 0.1rem #fff;
  border-radius: 2.4rem;
  box-sizing: border-box;
  height: 4.8rem;
  margin-bottom: 1.8rem;
  width: 4.8rem;
}

.javasript-ess {
  color: #253858;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  white-space: nowrap;
}

.frame-10-LVo {
  background-color: #f6f7f8;
  border-radius: 0.8rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  padding: 1.2rem 1.2rem 2.2rem 1.2rem;
  position: relative;
  width: 12.2rem;
}

.ellipse-1-rj3 {
  background-image: url('/api/try-prod-us-east-2-first-cluster/projects/YZzNMK6zCgEcfunraJN3TX/files/image/9b7dc40363517097e50892e52f45660b9882aaab');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: solid 0.1rem #fff;
  border-radius: 2.4rem;
  box-sizing: border-box;
  height: 4.8rem;
  margin-bottom: 1.8rem;
  width: 4.8rem;
}

.html-NhP {
  color: #253858;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  white-space: nowrap;
}

.frame-11-4q7 {
  background-color: #f6f7f8;
  border-radius: 0.8rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  padding: 1.2rem 1.2rem 2.2rem 1.2rem;
  position: relative;
  width: 12.2rem;
}

.ellipse-1-1EZ {
  background-image: url('/api/try-prod-us-east-2-first-cluster/projects/YZzNMK6zCgEcfunraJN3TX/files/image/556043056f2ed2846af4d0ed6c0a582c03b81727');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: solid 0.1rem #fff;
  border-radius: 2.4rem;
  box-sizing: border-box;
  height: 4.8rem;
  margin-bottom: 1.8rem;
  width: 4.8rem;
}

.css-Km3 {
  color: #253858;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  white-space: nowrap;
}

.frame-8-3S9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.auto-group-5rjx-yKo {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 0 2.6rem 1.5rem 2.4rem;
  width: calc(100% - 5rem);
}

.frameworks-uUM {
  color: #344563;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 47rem;
  white-space: nowrap;
}

.frame-arrow {
  border-radius: 0.8rem;
  flex-shrink: 0;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  width: 4rem;
}

.separator-bottom-NMw {
  background-color: #dfe1e6;
  flex-shrink: 0;
  height: 0.1rem;
  width: 100%;
}

.frame-9-6Yq {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.auto-group-zxgm-4Em {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 0 2.6rem 1.5rem 2.4rem;
  width: calc(100% - 5rem);
}

.skills-Tnh {
  color: #344563;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 54.4rem;
  white-space: nowrap;
}

.sill-arrow {
  border-radius: 0.8rem;
  flex-shrink: 0;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
}

.separator-bottom-8dw {
  background-color: #dfe1e6;
  flex-shrink: 0;
  height: 0.1rem;
  width: 100%;
}

.contact-form-background-shapes-Uxh {
  height: 71.8699rem;
  left: 7.5337rem;
  object-fit: contain;
  position: absolute;
  top: 74.7087rem;
  vertical-align: top;
  width: 129.0663rem;
}

.list-portoflio {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 241rem;
  left: 14.2rem;
  overflow: hidden;
  position: absolute;
  row-gap: 14.2rem;
  top: 105.9rem;
  width: 115.6rem;
}

.tonic-card {
  align-items: center;
  background-color: #fff;
  border: solid 0.1rem #dfe1e6;
  border-radius: 2.4rem;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 49.6rem;
  padding: 2.4rem 4.6rem 2.4rem 2.4rem;
  width: 100%;
}

.tonic-image {
  flex-shrink: 0;
  height: 100%;
  margin-right: 4.6rem;
  position: relative;
  width: 54.4rem;
}

.tonic-text {
  height: 19.2rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 10.4rem;
  width: 54.4rem;
}

.snapshoot-portfolio {
  border-radius: 0.8rem;
  height: 44.8rem;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 54.4rem;
}

.multipostsect {
  flex-shrink: 0;
  margin-bottom: 9.2rem;
  overflow: hidden;
  position: relative;
  width: 49.6rem;
}

.multi-post {
  width: 496px;
  height: 46px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multipost-text {
  margin-bottom: 2.4rem;
  overflow: hidden;
  position: relative;
  width: 29.7rem;
}

.multi-project {
  color: #091e42;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.6rem;
  white-space: nowrap;
}

.frames {
  align-items: center;
  display: flex;
  height: 4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.clientx {
  box-sizing: border-box;
  color: #344563;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 7.5rem;
}

.multi-group {
  align-items: center;
  box-sizing: border-box;
  column-gap: 1.2rem;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  padding: 0.8rem 1.2rem;
}

.multi-counter {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.role-back {
  align-items: center;
  color: #6b778c;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 12rem;
}

.counter-back {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.year-label-2015 {
  box-sizing: border-box;
  color: #6b778c;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.9rem 0;
  position: relative;
  white-space: nowrap;
  width: 3.9rem;
}

.daily-text {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  margin-bottom: 2.6rem;
  width: 496px;
  height: 50px;
}

.daily-group {
  align-items: center;
  column-gap: 0.8rem;
  display: flex;
  height: 2.4rem;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
}

.html-tag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 5.3rem;
}

.css-tag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 4.5rem;
}

.java-tag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 8.9rem;
}

.normal-button-secondary-enabled {
  align-items: center;
  border: solid 0.1rem #6070ff;
  border-radius: 0.8rem;
  box-sizing: border-box;
  color: #386df2;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  height: 4.8rem;
  justify-content: center;
  letter-spacing: 0.051rem;
  line-height: 1.4117647059;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 12.4rem;
}

.multi-post-card {
  align-items: center;
  background-color: #fff;
  border: solid 0.1rem #dfe1e6;
  border-radius: 2.4rem;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 2.4rem 2.2rem 2.4rem 2.4rem;
  width: 100%;
}

.auto-group-three {
  flex-shrink: 0;
  height: 32.8rem;
  margin: 0 2.2rem 7.2rem 0;
  position: relative;
  width: 54.4rem;
}

.primary-text-update {
  height: 19.2rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 8rem;
  width: 54.4rem;
}

.left-block-four {
  height: 32.8rem;
  left: 2.4rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 49.6rem;
}

.primary-text-left {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  overflow: hidden;
  position: relative;
}

.project-title-multi {
  color: #091e42;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.6rem;
  white-space: nowrap;
}

.frame-360 {
  align-items: center;
  column-gap: 1.2rem;
  display: flex;
  flex-shrink: 0;
  height: 4rem;
  overflow: hidden;
  position: relative;
}

.client-360 {
  box-sizing: border-box;
  color: #344563;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 9.6rem;
}

.counter-360 {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.role-360 {
  box-sizing: border-box;
  color: #6b778c;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 12.2rem;
}

.counter-366 {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.year-label-360 {
  box-sizing: border-box;
  color: #6b778c;
  flex-shrink: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 3.8rem;
}

.primary-textExperimental {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2.2rem;
  max-width: 46.3rem;
}

.tagsExp {
  align-items: center;
  column-gap: 0.8rem;
  display: flex;
  height: 2.4rem;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
}

.tag-fahtml {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 5.3rem;
}

.tag-facruby {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 10.5rem;
}

.tag-faccss {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 4.5rem;
}

.tag-facjavascript {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 8.9rem;
}

.multipost_button {
  box-sizing: border-box;
  align-items: center;
  padding: 12px;
  width: 140px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.snapshoot-portfolio- {
  border-radius: 0.8rem;
  flex-shrink: 0;
  height: 44.8rem;
  object-fit: cover;
  vertical-align: top;
  width: 54.4rem;
}

.facebook-card {
  box-shadow: 0 4.8rem 4.8rem rgba(37, 47, 137, 0.0799999982);
  flex-shrink: 0;
  height: 49.6rem;
  width: 100%;
}

.facebookContainer {
  align-items: center;
  background-color: #fff;
  border: solid 0.2rem #a7aeff;
  border-radius: 2.4rem;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 2.4rem 4.6rem 2.4rem 2.4rem;
  width: 100%;
}

.facebook-autogroup {
  flex-shrink: 0;
  height: 100%;
  margin-right: 4.6rem;
  position: relative;
  width: 54.4rem;
}

.facebook-text {
  height: 19.2rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 10.4rem;
  width: 54.4rem;
}

.facebook-snapshot {
  border-radius: 0.8rem;
  height: 44.8rem;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 54.4rem;
}

.left-block-1XF {
  flex-shrink: 0;
  height: calc(100% - 8.7635rem);
  margin: 2.4rem 0 6.364rem 0;
  overflow: hidden;
  position: relative;
  width: 49.6rem;
}

.primary-text-L3j {
  margin-bottom: 2.4rem;
  overflow: hidden;
  position: relative;
  width: 32rem;
}

.project-title-VBX {
  color: #091e42;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.6rem;
  white-space: nowrap;
}

.frame-2-DtD {
  align-items: center;
  column-gap: 1.2rem;
  display: flex;
  height: 4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.client-MjX {
  box-sizing: border-box;
  color: #344563;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 9.6rem;
}

.counter-TnZ {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.role-13P {
  box-sizing: border-box;
  color: #6b778c;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 12.2rem;
}

.counter-UxZ {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.year-label-q2R {
  box-sizing: border-box;
  color: #6b778c;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 3.8rem;
}

.ExploreText {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2.2rem;
  max-width: 49.4rem;
}

.tagsExpl {
  align-items: center;
  column-gap: 0.8rem;
  display: flex;
  height: 2.4rem;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
}

.tag-26u {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 5.3rem;
}

.tag-hTw {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 10.5rem;
}

.tag-DBP {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 4.5rem;
}

.tag-5UV {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 8.9rem;
}

.action-ZuT {
  align-items: flex-start;
  display: flex;
  margin-right: 3.9635rem;
  width: calc(100% - 3.9635rem);
  justify-content: space-between;
}

.facebook_button {
  align-items: center;
  background-color: #4053fc;
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 1.6rem rgba(64, 83, 252, 0.2399999946);
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  height: 4.8rem;
  justify-content: center;
  letter-spacing: 0.051rem;
  line-height: 1.4117647059;
  margin-right: 25.2rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 12.4rem;
}

.uber_button {
  box-sizing: border-box;
  align-items: center;
  width: 140px;
  height: 48px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  display: flex;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
  margin-top: 30px;
  border: 1px solid #396df2;
  padding: 10px 20px;
  border-radius: 10px 10px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 50px;
  cursor: pointer;
}

.hand-cursor {
  flex-shrink: 0;
  height: 8.0365rem;
  object-fit: cover;
  vertical-align: top;
  width: 8.0365rem;
}

.uber-container {
  align-items: center;
  background-color: #fff;
  border: solid 0.1rem #dfe1e6;
  border-radius: 2.4rem;

  /* box-sizing: border-box; */
  display: flex;
  flex-shrink: 0;
  padding: 2.4rem 2.2rem 2.4rem 2.4rem;
  width: 100%;
  margin-bottom: 10px;
}

.uber-group {
  flex-shrink: 0;
  height: 31.1rem;
  margin: 0 2.2rem 8.9rem 0;
  position: relative;
  width: 54.4rem;
}

.uber-text {
  height: 19.2rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 8rem;
  width: 54.4rem;
}

.uber-left-block {
  height: 35.1rem;
  left: 2.4rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 49.6rem;
}

.primary-ubertext {
  margin-bottom: 2.4rem;
  overflow: hidden;
  position: relative;
  width: 33.5rem;
}

.project-uber {
  color: #091e42;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.6rem;
  white-space: nowrap;
}

.uber-frame {
  align-items: center;
  display: flex;
  height: 4rem;
  margin-right: 5rem;
  overflow: hidden;
  position: relative;
  width: calc(100% - 5rem);
}

.auto-select {
  align-items: center;
  box-sizing: border-box;
  column-gap: 1.2rem;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  padding: 0.8rem 1.2rem 0.8rem 0;
}

.client-name {
  align-items: center;
  color: #344563;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 4.3rem;
}

.counter-uber {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.role-uber {
  align-items: center;
  color: #6b778c;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 14rem;
}

.counter-tff {
  background-color: #c1c7d0;
  border-radius: 0.4rem;
  flex-shrink: 0;
  height: 0.8rem;
  width: 0.8rem;
}

.uber-label {
  box-sizing: border-box;
  color: #6b778c;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.3333333333;
  overflow: hidden;
  padding: 0.8rem 0;
  position: relative;
  white-space: nowrap;
  width: 3.8rem;
}

.ubertext {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2.9rem;
  max-width: 49.5rem;
}

.ubertags {
  align-items: center;
  column-gap: 0.8rem;
  display: flex;
  height: 2.4rem;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
}

.htmltag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 5.3rem;
}

.rubytag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 10.5rem;
}

.csstag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 4.5rem;
}

.jscripttag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 0.8rem;
  color: #6070ff;
  display: flex;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.036rem;
  line-height: 1.3333333333;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 8.9rem;
}

.normal-button-secondary-enabled-P93 {
  border: solid 0.1rem #6070ff;
  box-sizing: border-box;
  color: #386df2;
  display: flex;
  justify-content: center;
  letter-spacing: 0.051rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  align-items: center;
  padding: 12px;
  width: 140px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  transition: transform 0.4s ease-in-out;
}

.uberimage {
  border-radius: 0.8rem;
  flex-shrink: 0;
  height: 44.8rem;
  object-fit: cover;
  vertical-align: top;
  width: 54.4rem;
}

.contact-hr {
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
  position: relative;
  left: 100px;
}

.form-container {
  max-width: 840px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* General CSS Rules */
:root {
  --blue: #6070ff;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}

/* Navbar Design */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 8vh;
  top: 0;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: none;
}

.logo {
  margin-left: 24px;
}

.logo a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--blue);
}

.hamburger {
  margin-right: 2vw;
}

/* Headline Design */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  background-color: white;
  margin-top: 8vh;
  border-bottom-left-radius: 8em;
  padding: 0 8vw 100px 8vw;
  background-image: url(img/header-background.png);
  background-size: 100%;
  background-position-y: 20%;
  background-repeat: no-repeat;
}

.headline h1 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  color: #172b4d;
  margin: 0 0 12px 0;
}

.headline p {
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.connect {
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-links li {
  padding-right: 18px;
}

/* Works Section Design */
.projects {
  display: grid;
  padding: 12vh 8vw;
  row-gap: 12vh;
}

.cards {
  background-color: white;
  border-radius: 1em;
  border: 1px solid #dfe1e6;
  padding: 1em;
}

.img-project img {
  width: 100%;
  height: auto;
}

.cards h2 {
  font-weight: 700;
  font-size: 2em;
  line-height: 44px;
  margin: 10px 0 20px 0;
}

.info-tags {
  display: flex;
  align-items: baseline;
}

.cards h3 {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 16px;
  color: #344563;
  margin: 0;
}

.info-tags p {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 16px;
  color: #7a869a;
  margin: 0 0 0 10px;
}

.info-tags p::before {
  content: url(img/decoration-circle.png);
  display: inline-block;
  margin-right: 10px;
}

.cards-p {
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #344563;
  margin: 20px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  padding: 0;
}

.tags li {
  margin-bottom: 8px;
}

.tags a {
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 16px;
  color: var(--blue);
  margin-right: 8px;
}

.tags a:hover {
  background-color: #d6d6ff;
}

.main-buttons {
  padding: 14px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #396df2;
  margin: 14px 0 18px 0;
  width: fit-content;
}

.main-buttons:hover {
  background-color: var(--blue);
  color: white;
  border-color: var(--blue);
}

.main-buttons:active {
  background-color: #2230d2;
  color: white;
  border-color: #2230d2;
}

.multipost_button:hover {
  background-color: var(--blue);
  color: white;
  border-color: var(--blue);
}

.multipost_button:active {
  background-color: #2230d2;
  color: white;
  border-color: #2230d2;
}

/* About Myself Section Design */
.about-myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 100px;
  padding: 10vh 8vw;
  font-size: 25px;
}

.content-about-myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-myself h2 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  color: #172b4d;
  margin: 12px 0;
}

.about-myself p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0 0 12px 0;
}

.about-myself .social-links {
  padding-left: 18px;
}

.about-myself-ul {
  padding: 9vh 0 0 0;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 24px;
  color: black;
  padding: 0 42px 23px 12px;
  border-bottom: 1px solid #dfe1e6;
  margin-top: 24px;
}

#open {
  border-bottom: none;
}

.languages-ul {
  padding-left: 18px;
}

.languages {
  background-color: #f7f7f9;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 9px 12px;
  border-radius: 0.7em;
  font-weight: 500;
  font-size: 1em;
  line-height: 20px;
  color: #253858;
}

#js::before {
  content: url(images/jscript.png);
  padding-right: 16px;
}

#html::before {
  content: url(images/html.png);
  padding-right: 16px;
}

#css::before {
  content: url(images/css.png);
  padding-right: 16px;
}

/* Contact Section */
.contact-section {
  background-color: white;
  padding: 20vh 0 0 0;
}

.contact-container {
  background-color: var(--blue);
  padding: 15vh 8vw 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8em;
  background-image: url(images\backgroundImages\desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

.contact-container h2 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  color: white;
  margin: 0 0 8px 0;
  text-align: center;
}

.contact-container p {
  font-weight: 400;
  font-size: 1em;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.labels {
  display: none;
}

.input-container {
  width: calc(100% - 30px);
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  height: 48px;
  margin-bottom: 20px;
  padding: 0 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1em;
  line-height: 20px;
  color: #172b4d;
}

.input-container-2 {
  width: calc(100% - 30px);
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  height: 170px;
  margin-bottom: 22px;
  padding: 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1em;
  line-height: 20px;
  color: #172b4d;
}

.input-container::placeholder {
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #b3bac5;
}

.input-container-2::placeholder {
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #b3bac5;
}

.button-form {
  align-self: self-start;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: var(--blue);
  padding: 12px 16px;
  border: 1px solid var(--blue);
}

.button-form:hover {
  background-color: var(--blue);
  color: white;
  border-color: white;
}

.button-form:active {
  background-color: #2230d2;
  color: white;
  border-color: #2230d2;
}

@media (min-width: 768px) {
  nav {
    height: 10vh;
  }

  .hamburger {
    display: none;
  }

  .logo {
    margin-left: 10.77vw;
  }

  .links {
    display: flex;
    margin: 0 10.77vw;
    padding: 0;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 20px;
  }

  .links li {
    margin-left: 2.22vw;
  }

  .cards {
    display: flex;
  }

  .img-project {
    align-self: center;
  }

  .img-project img {
    width: calc(35vw - 1em);
  }

  .content {
    margin: 0 3.2vw;
  }

  .content h2 {
    padding-top: 12px;
  }

  .info-tags {
    padding-bottom: 12px;
  }

  .right-image {
    flex-direction: row-reverse;
  }

  .right-image .content {
    margin: 0 2.2vw;
  }

  /* About myself */
  .about-myself {
    flex-direction: row;
    justify-content: start;
    padding: 7vw 10vw;
  }

  .content-about-myself {
    width: 65%;
    min-width: 295px;
    margin-right: 1.5em;
    margin-bottom: 65%;
    font-size: 16px;
  }

  .about-myself-ul {
    width: 100%;
    padding: 0;
  }

  .languages-ul {
    display: flex;
  }

  .languages {
    width: 120px;
    margin-right: 1em;
    padding-top: 75px;
    justify-content: center;
  }

  #js::before {
    position: absolute;
    padding-bottom: 90px;
    padding-left: 20px;
  }

  #html::before {
    position: absolute;
    padding-bottom: 90px;
    padding-left: 20px;
  }

  #css::before {
    position: absolute;
    padding-bottom: 90px;
    padding-left: 20px;
  }

  .contact-container {
    padding: 10vw 25vw;
    background-image: url(images/backgroundImages/desktop.png);
    background-size: contain;
    background-position: center;
  }

  .button-form {
    align-self: center;
  }
}
